---
layout: ""
page_title: "Provider: Maven"
description: |-
  The maven provider provides resources to interact with a maven repository.
---

# Maven Provider

The maven provider provides resources to interact with a maven repository.

## Example Usage

{{tffile "examples/provider/provider.tf"}}

{{ .SchemaMarkdown | trimspace }}

## Environment Variables

The following configuration attributes can be passed via environment variables:

| Argument         | Environment variable   |
|------------------|------------------------|
| `password`       | `MAVEN_PASSWORD`       |
| `repository_url` | `MAVEN_REPOSITORY_URL` |
| `username`       | `MAVEN_USERNAME`       |
